body {
  margin-right: auto;
  margin-left: auto;
  padding: 0 auto;
}
p {
  margin-right: auto;
  margin-left: auto;
  padding: 0 auto;
}
#word, 
select,
button {
  font-size: 36px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo;
  border: 3px solid #B9C9CE;
  border-radius: 15px;
  padding: 12px 0.8em;
}
select {
  padding: 9px;
}